<% layout("/layouts/boilerplate") %>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <br><br>
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input name="listing[title]" placeholder="Add a catch title" type="text" class="form-control" required/>
          <div class="valid-feedback">Looks Good</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please add Some description</div>
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-lable">Upload Listing Image</label>
          <input
            name="listing[image][url]"
            type="file"
            class="form-control"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" placeholder="0000"  class="form-control" required/>
            <div class="invalid-feedback">Please enter price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please enter country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            name="listing[location]"
            placeholder="Kaithal, Haryana"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter location</div>
        </div>
        
        <br><br>

        <button class="btn btn-dark add-btn">Add</button>
      </form>
      <br><br>
    </div>
  </div>
  </body>